<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Super Spy App</title>
</head>
<body>
	<h1>Our Super Cool Spy App</h1>
	<h2>Create a Mission</h2>
	
	<form action="/addMission" method="get">	    
		<Input type="submit" value="Create a Mission">
	</form>

	<h2>View Missions for</h2>
	<form action="/viewMissions" method="get">
		<p>
			<select id="agent" name="agent">
				<option value="Johnny English">Johnny English</option>
				<option value="Natasha Romanova">Natasha Romanova</option>
				<option value="Austin Powers">Austin Powers</option>
			</select>
			<input type="submit" value="Go">
		</p>
	</form>
</body>
</html>